table {
  margin-left: auto;
  margin-right: auto;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 6.25em solid transparent;
  border-right: 6.25em solid transparent;
  border-bottom: 9.375em solid #FF2400;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 6.25em solid transparent;
  border-right: 6.25em solid transparent;
  border-top: 9.375em solid #01CFF4;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 6.25em solid transparent;
  border-right: 9.375em solid orange;
  border-bottom: 6.25em solid transparent;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 6.25em solid transparent;
  border-left: 9.375em solid #7CFF01;
  border-bottom: 6.25em solid transparent;
}

.circle {
  height: 12.5em;
  width: 12.5em;
  background-color: #FFF205;
  border-radius: 50%;
}

.center {
margin-left:auto;
margin-right:auto;
background-size: cover;
background-image: url("background.jpg");
background-repeat: no-repeat;
}

.title{
  font-size: 3em;
  color: Yellow;
  text-align: center;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px #ff0000;
}

html{
  background-image: radial-gradient(rgb(211,35,134),rgb(64,16,125));
}
.message{
  font-size: 1.75em;
  color: Yellow;
  text-align: center;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px #ff0000;
}
